h1 {
    font-size: 60px;
    text-align: center;
    font-family: Verdana;

  }
  
  p,
  li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
    font-family: Arial;
  }

  html {
    background-color: #00539f;
  }

/* Asegúrate de que el contenedor tenga un tamaño */
.progress-container {
    background-color: #333; /* Gris oscuro */
    width: 100%;
    height: 15px;
    border-radius: 10px;
    margin: 10px 0;
    overflow: hidden; /* Importante para que la barra no se salga */
}

.progress-bar {
    height: 100%;
    background-color: #007bff; /* Tu color principal */
    transition: all 0.3s ease; /* Para que se vea la animación */
}

/* EL TRUCO: Cuando el mouse toca el contenedor, cambia la barra */
.progress-container:hover .progress-bar {
    background-color: #aa00ff !important; 
    filter: brightness(1.2);
    cursor: pointer;
}