h1 {
    font-size: 60px;
    text-align: center;
    font-family: Verdana;

  }
  
  p,
  li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
    font-family: Arial;
  }

  html {
    background-color: #00539f;
  }
  
  /* Estado base de la barra */
.progress-bar {
  height: 20px;
  background-color: #4caf50; /* Tu color actual */
  transition: all 0.4s ease-in-out; /* La clave de la suavidad */
  border-radius: 10px;
}

/* Reacci칩n al Hover */
.progress-container:hover .progress-bar {
  background-color: #81c784; /* Cambia a un color m치s claro */
  box-shadow: 0 0 15px rgba(76, 175, 80, 0.7); /* Brillo tipo ne칩n */
  transform: scaleY(1.2); /* Se hace un poco m치s gruesa */
  cursor: pointer;
}